body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.favoriteButton {

	background-color: yellow;
	border: none;
	height: 50px;
	width: 100px;
	text-align: center;


}

.aboutBox {
	background-color: darkorange;
	height: 200px;
}


.aboutPage{
	background-color: dodgerblue;
}

.midsec{
	background-color: antiquewhite;
	
}


.buttonBox{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	justify-content: center;
	height: 100px;
	
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: center;
}

.memebox {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	align-items: center;
	justify-content: center;
}

#phoenixPic{
	height:300px;
	width:300px;
}
#anakinSand{
	height:300px;
	width:300px;
}


#suckyGuy{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	justify-content: center;
}


p {
	text-align: justify;
	text-justify: inter-word;
}

.randomRestaurantButton{
	background-color: orange;
	border: none;
	height: 50px;
	width: 100px;
	text-align: center;

}